#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide1{
  background-image: url('https://i.postimg.cc/tRWrSg6T/west-beach-st-martins-island-600nw-1958317543.jpg');
  background-size: cover;
}
.slide2{
  background-image: url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg');
  background-size: cover;
}
.slide3{
  background-image: url('https://i.postimg.cc/kXpdPpT5/wp3426164.jpg');
  background-size: cover;
}
.slide4{
  background-image: url('https://i.postimg.cc/XvGVG0Dm/420219.jpg');
  background-size: cover;
}


/* offerr */
.offer{
  background-image: url('https://i.postimg.cc/BvST3Zks/a-holiday-couple-in-white-summer-clothing-walks-down-a-paradise-beach.webp');
  background-size: cover;

}



/* .ss1{
  background-image:url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg') ;
  background-size: cover;
  
}

.ss2{
  background-image:url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg') ;
  background-size: cover;
  
}
.ss3{
  background-image:url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg') ;
  background-size: cover;
  
  
}
.ss4{
  background-image:url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg') ;
  background-size: cover;
  
}
.ss5{
  background-image:url('https://i.postimg.cc/BQvK8YJ0/Sundarban-Tiger-Roar-1.jpg') ;
  background-size: cover;
  
} */
